<footer>
    <div class="footer-box">
        <div class="paginas">
            <h2>Páginas</h2>
            <a href="./">Principal</a><br>
            <a href="./register">Register</a><br>
            <a href="./logIn">LogIn</a><br>
        </div>
            <div class="social-box-1">
                <div class="twitter">
                    <a href="">Twitter</a><i class="fab fa-twitter"></i>
                </div>
                <br>
                <div class="instagram">
                    <a href="">Instagram</a><i class="fab fa-instagram"></i>
                </div>
            </div>
            <div class="social-box-2">
                <div class="facebook">
                    <a href="">Facebook</a><i class="fab fa-facebook-f"></i>
                </div>
                <br>
                <div class="youtube">
                    <a href="">Youtube</a><i class="fab fa-youtube"></i>
                </div>
        </div>
    </div>
</footer>