<header>
    <div class="encabezado">
        <div class = "menuHamburgesa">
            <i id="burger" class="fas fa-bars"></i>
        </div>
        <div class = "iconoLupa">
            <i id="lupa" class="fas fa-search"></i>
        </div>
        <div>
            <img id="logo" src="images/logo.jpg" alt="Logo">
        </div>
        <div class="perfilUsuario">
            <div id="person">
                Usuario
            </div>
            <div>
                <i id="user" class="fas fa-user"></i>
            </div>
        </div>
    </div>
</header>