<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>
    
    <%- include('partials/header') %>
       
    <main>
        <h2 class="destacados">Destacados</h2>
        <div id="box-destacados">
            <article>
                <div >
                    <a href="./serviceDetail">
                        <img id="trabajo1" src="images/trabajo-1.jpg" alt="trabajo 1" >
                    </a>
                </div>
            </article>
            <article>
                <div >
                    <img id="trabajo2" src="images/trabajo-2.jpg" alt="trabajo 1">
                </div>
            </article>
            <article>
                <div >
                    <img id="trabajo3" src="images/trabajo-3.jpg" alt="trabajo 1">
                </div>
            </article>
        </div>
        <h2>Categorías</h2>
        <div>
            <div class="categorias-1">
                <article>
                    <div >
                        <i class="fas fa-book"></i><h3>Teach</h3>
                    </div>
                </article>
                <article>
                    <div >
                        <i class="fas fa-home"></i><h3>House</h3>
                    </div>
                </article>
                <article>
                    <div >
                        <i class="fas fa-headphones-alt"></i><h3>Music</h3>
                    </div>
                </article>
            </div>
            <div class="categorias-2">
                <article>
                    <div >
                        <i class="fas fa-paint-brush"></i><h3>Desing</h3>
                    </div>
                </article>
                <article>
                    <div >
                        <i class="fas fa-utensils"></i><h3>Chef</h3>
                    </div>
                </article>
                <article>
                    <div >
                        <i class="fas fa-comments"></i><h3>English</h3>
                    </div>
                </article>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>

</body>
</html>