<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&family=Fredoka:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&family=Fredoka:wght@500&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/serviceDetail.css">
        <link rel="stylesheet" href="css/styles.css">
    <title>Detalle del servicio</title>
</head>
<body>
    <header>
        <div class="encabezado">
            <div class = "menuHamburgesa">
                <i id="burger" class="fas fa-bars"></i>
            </div>
            <div class = "iconoLupa">
                <i id="lupa" class="fas fa-search"></i>
            </div>
            <div>
                <img id="logo" src="images/logo.jpg" alt="Logo">
            </div>
            <div class="perfilUsuario">
                <div id="person">
                    Usuario
                </div>
                <div>
                    <i id="user" class="fas fa-user"></i>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class=" plom">
            <div>
                <h2 id="plomeria" >Jardineria</h2>
            </div>
            <div>
                <h2 id="hogar" >/Hogar</h2>
            </div>
        </div>  
        <div class="detalleUsuario">
            <div>
                <i id="user" class="fas fa-user"></i>
            </div>
            <div>
                <h3>Humberto Gomez</h3>
                <h3>41 Años</h3>
            </div>
        </div>
        <div class="desc">
            <h2>Descripcion</h2>
        </div>
        <div class="detalle">
            <p>7 años de experiencia en Jardineriaa elit. Eveniet animi ipsam rem, porro commodi reiciendis asperiores. Quam corrupti reprehenderit quasi dolorem odit ad quas, quibusdam, illum saepe libero ullam laborum.</p>
        </div>
        <div class="jardines"> 
            <div class="jardin-1">
                <img src="images/jardin-1.jpg" alt="">
            </div>
            <div class="jardin-2">
                <img src="images/jardin-2.jpg" alt="">
            </div>
            <div class="jardin-3">
                <img src="images/jardin-3.jpg" alt="">
            </div>
        </div>
        <div class="estrellas">
            <samp>Calificaión</samp>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
    </main>
    <footer>
        <div class="footer-box">
            <div class="paginas">
                <h2>Páginas</h2>
                <a href="./">Principal</a><br>
                <a href="./register.html">Register</a><br>
                <a href="./logIn.html">LogIn</a><br>
            </div>
                <div class="social-box-1">
                    <div class="twitter">
                        <a href="">Twitter</a><i class="fab fa-twitter"></i>
                    </div>
                    <br>
                    <div class="instagram">
                        <a href="">Instagram</a><i class="fab fa-instagram"></i>
                    </div>
                </div>
                <div class="social-box-2">
                    <div class="facebook">
                        <a href="">Facebook</a><i class="fab fa-facebook-f"></i>
                    </div>
                    <br>
                    <div class="youtube">
                        <a href="">Youtube</a><i class="fab fa-youtube"></i>
                    </div>
            </div>
        </div>
    </footer>
</body>
</html>