.tituloCarrito{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

.contenedorServicios{
    height: auto;
    border: solid 2px black;
}

.servicios{
    display: flex;
    border: solid 2px black;
}

.contenedorImagen{
    width: 100px;
    height: auto;
}

.imagenServicio{
    width: 100px;
    height: 100px;
    border: solid 2px black;
}

.datosServicio{
    padding-left: 10px;
    border: solid 2px black;
    width: 180px;
}

#iconoServicio{
    color: black;
}

.chat{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 60px;
    border-bottom: solid 2px black;
}

.precio{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}