<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>
    <link rel="stylesheet" href="css/carrito.css">


<body>

    <%- include('../partials/header') %>
    
    <main>

        <h1 class="tituloCarrito">Servicios adquiridos</h1>
        <div class="contenedorServicios">
            <div class="servicios">
                <div class="contenedorImagen">
                    <img class="imagenServicio" src="images/foto-perfil-servicio.jpg">
                </div>

                <div class="datosServicio">
                    <div>
                        <h4>Humberto Gomez <i id="iconoServicio" class="fas fa-info-circle"></i></h4>
                        
                    </div>
                    <div>
                        <p>Plomeria: Cambio de tuberia de la casa</p>
                    </div>
                </div>

                <div class="precioServicio">

                    <div class="chat">
                        <i class="far fa-comments"></i>
                    </div>
                    <div class="precio">
                        <h4>$40</h4>
                    </div>
                </div>
            </div>
            
            <div class="servicios">
                <div class="contenedorImagen">
                    <img class="imagenServicio" src="">
                </div>

                <div class="datosServicio">
                    <div>
                        <h4><i id="iconoServicio" class="fas fa-info-circle"></i></h4>
                        
                    </div>
                    <div>
                        <p></p>
                    </div>
                </div>

                <div class="precioServicio">

                    <div class="chat">
                        <i class="far fa-comments"></i>
                    </div>
                    <div class="precio">
                        <h4></h4>
                    </div>
                </div>
            </div>


        </div>
        <br>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>