<!DOCTYPE html>
<html lang="en">
    <title></title>

    <%- include('../partials/head') %>
    <link rel="stylesheet" href="css/serviceDetail.css">

<body>
    
    <%- include('../partials/header') %>
    
    <main>
        <div class=" plom">
            <div>
                <h2 id="plomeria" >Jardineria</h2>
            </div>
            <div>
                <h2 id="hogar" >/Hogar</h2>
            </div>
        </div>  
        <div class="detalleUsuario">
            <div>
                <i id="user" class="fas fa-user"></i>
            </div>
            <div>
                <h3>Humberto Gomez</h3>
                <h3>41 Años</h3>
            </div>
        </div>
        <div class="desc">
            <h2>Descripcion</h2>
        </div>
        <div class="detalle">
            <p>7 años de experiencia en Jardineriaa elit. Eveniet animi ipsam rem, porro commodi reiciendis asperiores. Quam corrupti reprehenderit quasi dolorem odit ad quas, quibusdam, illum saepe libero ullam laborum.</p>
        </div>
        <div class="jardines"> 
            <div class="jardin-1">
                <img src="images/jardin-1.jpg" alt="">
            </div>
            <div class="jardin-2">
                <img src="images/jardin-2.jpg" alt="">
            </div>
            <div class="jardin-3">
                <img src="images/jardin-3.jpg" alt="">
            </div>
        </div>
        <div class="estrellas">
            <samp>Calificaión</samp>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
    </main>
    
    <%- include('../partials/footer') %>

</body>
</html>