<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&family=Fredoka:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&family=Fredoka:wght@500&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/carrito.css">
    <title>Carrito</title>
</head>
<body>
    <header>
        <div class="encabezado">
            <div class = "menuHamburgesa">
                <i id="burger" class="fas fa-bars"></i>
            </div>
            <div class = "iconoLupa">
                <i id="lupa" class="fas fa-search"></i>
            </div>
            <div>
                <img id="logo" src="images/logo.jpg" alt="Logo">
            </div>
            <div class="perfilUsuario">
                <div id="person">
                    Usuario
                </div>
                <div>
                    <i id="user" class="fas fa-user"></i>
                </div>
            </div>
        </div>
    </header>
    <main>

        <h1 class="tituloCarrito">Servicios adquiridos</h1>
        <div class="contenedorServicios">
            <div class="servicios">
                <div class="contenedorImagen">
                    <img class="imagenServicio" src="images/foto-perfil-servicio.jpg">
                </div>

                <div class="datosServicio">
                    <div>
                        <h4>Humberto Gomez <i id="iconoServicio" class="fas fa-info-circle"></i></h4>
                        
                    </div>
                    <div>
                        <p>Plomeria: Cambio de tuberia de la casa</p>
                    </div>
                </div>

                <div class="precioServicio">

                    <div class="chat">
                        <i class="far fa-comments"></i>
                    </div>
                    <div class="precio">
                        <h4>$40</h4>
                    </div>
                </div>
            </div>
            
            <div class="servicios">
                <div class="contenedorImagen">
                    <img class="imagenServicio" src="">
                </div>

                <div class="datosServicio">
                    <div>
                        <h4><i id="iconoServicio" class="fas fa-info-circle"></i></h4>
                        
                    </div>
                    <div>
                        <p></p>
                    </div>
                </div>

                <div class="precioServicio">

                    <div class="chat">
                        <i class="far fa-comments"></i>
                    </div>
                    <div class="precio">
                        <h4></h4>
                    </div>
                </div>
            </div>


        </div>
        <br>
    </main>
    <footer>
        <div class="footer-box">
            <div class="paginas">
                <h2>Páginas</h2>
                <a href="./">Principal</a><br>
                <a href="./register.html">Register</a><br>
                <a href="./logIn.html">LogIn</a><br>
            </div>
                <div class="social-box-1">
                    <div class="twitter">
                        <a href="">Twitter</a><i class="fab fa-twitter"></i>
                    </div>
                    <br>
                    <div class="instagram">
                        <a href="">Instagram</a><i class="fab fa-instagram"></i>
                    </div>
                </div>
                <div class="social-box-2">
                    <div class="facebook">
                        <a href="">Facebook</a><i class="fab fa-facebook-f"></i>
                    </div>
                    <br>
                    <div class="youtube">
                        <a href="">Youtube</a><i class="fab fa-youtube"></i>
                    </div>
            </div>
        </div>
    </footer>
</body>
</html>