<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&family=Fredoka:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@600&family=Fredoka:wght@500&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/logIn.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="encabezado">
            <div class = "menuHamburgesa">
                <i id="burger" class="fas fa-bars"></i>
            </div>
            <div class = "iconoLupa">
                <i id="lupa" class="fas fa-search"></i>
            </div>
            <div>
                <img id="logo" src="images/logo.jpg" alt="Logo">
            </div>
            <div class="perfilUsuario">
                <div id="person">
                    Usuario
                </div>
                <div>
                    <i id="user" class="fas fa-user"></i>
                </div>
            </div>
        </div>
    </header>
    <main>
       <h2>Inicio de sesión</h2>
       <form action="./logIn.html" method="post">
        <br>
        <div class="nom-usuario">
            <br>
            <input type="text" name="nombre"  required>
            <label class="titulo" >Usuario</label>
        </div>
        <br>
        <div class="pass-usuario">
            
            <input type="text" name="contraseña"  required>
            <label class="titulo" >Contraseña</label>
        </div>
        <div class="recuerdame">
            <br>
            <input type="checkbox" name="recuerdame" id="record">
            <label class="titulo" >Recuerdame</label><br>
           <button type="submit" id="enviar">Ingresar</button>

        </div>
        
       </form>


    </main>
    <footer>
        <div class="footer-box">
            <div class="paginas">
                <h2>Páginas</h2>
                <a href="./">Principal</a><br>
                <a href="./register.html">Register</a><br>
                <a href="./logIn.html">LogIn</a><br>
            </div>
                <div class="social-box-1">
                    <div class="twitter">
                        <a href="">Twitter</a><i class="fab fa-twitter"></i>
                    </div>
                    <br>
                    <div class="instagram">
                        <a href="">Instagram</a><i class="fab fa-instagram"></i>
                    </div>
                </div>
                <div class="social-box-2">
                    <div class="facebook">
                        <a href="">Facebook</a><i class="fab fa-facebook-f"></i>
                    </div>
                    <br>
                    <div class="youtube">
                        <a href="">Youtube</a><i class="fab fa-youtube"></i>
                    </div>
            </div>
        </div>
    </footer>
</body>
</html>