
.plom {
    display: flex;
}

.plom #plomeria {
    font-size: 20px;
    text-decoration: underline;
    font-weight: bolder;
}

.plom #hogar {
    font-size: 20px;
    font-weight: 400;
}

.detalleUsuario {
    display: flex;
    margin-left: 20px;
}

.detalleUsuario h3 {
   font-size: 20px;
   margin-top: 5px;
   margin-bottom: 5px;
}

.detalleUsuario i {
   margin-top: 5px;
 }

.destacados {
   width: 150px; 
}

.tituloRegistro{
    text-align: center;
    font-size: 50px;
}

.desc h2{
    font-size: 20px;
    text-decoration: underline;
    font-weight: bolder;
}

.detalle p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.jardines {
    display: flex;
    justify-content: space-around;
}
.jardines img{
    width: 30vw;
    height: 100px;
}

.estrellas {
    margin: 5px;
}
.estrellas i {
    color: gold;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
}
.estrellas samp{
   font-size: 20px;
   font-weight: bold;
}

