* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    box-sizing: border-box;
}


.menuHamburgesa {
    width: 45px;
    height: 45px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding-top: 12px;
    border-radius: 4px;
    border: solid 1px blue;
}

.iconoLupa {
    width: 45px;
    height: 45px;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    padding-top: 12px;
    border-radius: 4px;
    border: solid 1px blue;
}

#burger {
    font-size: 20px;
}

#lupa {
    font-size: 20px;
}

#logo {
    width: 130px;
    height: 70px;
    border: solid 2px gray;

}

.perfilUsuario {
    display: flex;
}

#user {
    font-size: 30px;
    color: white;
    padding: 10px;
    background-color: dodgerblue;
    border-radius: 40px;
    position: relative;
    right: 8px;
}

#person {
    padding: 10px;
    background-color: gray;
    padding-top: 12px;
    border-top-left-radius : 15px;
    border-bottom-left-radius: 15px ;
    width: 400 px;
    padding-right: 20px;
    height: 20px;
    border: solid 1px white;
    padding-bottom: 25px;
    margin-top: 6px;
   
}

.encabezado {
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;


}

body{
    background-image: url("https://img.freepik.com/vector-premium/ilustracion-vector-fondo-papel-tapiz-degradado-azul-blanco-gris-turquesa-fondo_172010-1295.jpg");
    background-size: cover;


}


footer {
    border-top: solid 2px black;
}

footer h2 {  
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

.footer-box {
    display: flex;
    margin-top: 10px;
}


div.social-box-1 div.twitter i{
    color:rgb(25, 127, 228);
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    padding: 6px;
    margin-left: 23px;
}
div.social-box-1 div.twitter a{
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Fredoka', sans-serif;
}

div.social-box-1 div.instagram i{
    width: 30px;
	height: 30px;
	border-radius: 15px;
	text-align: center;
	background-image: linear-gradient(155deg, #4C57A2 8%, #87439A 50%, #e02870 85%);
    color : white;
    font-size: 25px;
    padding-top: 2px;
    margin-left: 8px;
}
div.social-box-1 div.instagram a{
    font-size: 20px;
    margin-left: 15px;
    font-family: 'Fredoka', sans-serif;
}


div.social-box-2 div.facebook i{
    color:white;
    font-size: 20px;
    background-color: blue;
    border-radius: 50%;
    padding: 6px 9px;
    margin-left: 1px;
}
div.social-box-2 div.facebook a{
    font-size: 20px;
    margin-left: 1px;
    margin-bottom: 5px;
    font-family: 'Fredoka', sans-serif;
}

div.social-box-2 div.youtube i{
    color:red;
    font-size: 20px;
    background-color:white;
    border-radius: 20%;
    padding: 2px 5px;
    margin-left: 10px;
}
div.social-box-2 div.youtube a{
    font-size: 20px;
    margin-left: 1px;
    font-family: 'Fredoka', sans-serif;
}

h2{
    font-family: 'Roboto', sans-serif;
}

.paginas a{
    font-family: Arial, Helvetica, sans-serif;
}

.plom {
    display: flex;
}

.plom #plomeria {
    font-size: 20px;
    text-decoration: underline;
    font-weight: bolder;
}

.plom #hogar {
    font-size: 20px;
    font-weight: 400;
}

.detalleUsuario {
    display: flex;
    margin-left: 20px;
}

.detalleUsuario h3 {
   font-size: 20px;
   margin-top: 5px;
   margin-bottom: 5px;
}

.detalleUsuario i {
   margin-top: 5px;
 }

.destacados {
   width: 150px; 
}

.tituloRegistro{
    text-align: center;
    font-size: 50px;
}

.desc h2{
    font-size: 20px;
    text-decoration: underline;
    font-weight: bolder;
}

.detalle p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}
